:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #FFAE1F;
  text-decoration: inherit;
}

a.btn.btn-outline-light{
  font-size: larger;
  font-weight: 500;
}


a.fc-col-header-cell-cushion{
  color: #e08e00;
}

a.fc-col-header-cell-cushion:hover {
  color: #777777;
  
}

#projects-tabs-tab-first.nav-link{
  color: #000000;
  font-weight: 500;
}

#projects-tabs-tab-first.nav-link.active{
  background-color: #FFAE1F;
  color: #ffffff;
}
#projects-tabs-tab-second.nav-link {
  color: #000000;
  font-weight: 500;
}

#projects-tabs-tab-second.nav-link.active {
  background-color: #FFAE1F;
  color: #ffffff;
}
#projects-tabs-tab-third.nav-link {
  color: #000000;
  font-weight: 500;
}

#projects-tabs-tab-third.nav-link.active {
  background-color: #FFAE1F;
  color: #ffffff;
}

#projects-tabs-tab-four.nav-link {
  color: #000000;
  font-weight: 500;
}

#projects-tabs-tab-four.nav-link.active {
  background-color: #FFAE1F;
  color: #ffffff;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fff3d1 !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

div.fc-event-title-container{
    background-color: #FFAE1F;
    border-color: #FFAE1F;
}
div.fc-event-time {
  background-color: #fca309;
}
div.fc-event-maine {
border-color: #FFAE1F;}
a.fc-event{
  border-color: #FFAE1F;
  background-color: #fca309;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FFAE1F !important;
  color: black !important;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #FFAE1F;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

::-webkit-scrollbar {
  display: none;
}

.btn-secondary:hover{
    background-color: #fff3d1 !important;
    color: #000 !important;
}

.btn-secondary{
    color: #212529 !important;
}