.calendar {
    position: relative;
}

.notification {
    position: absolute;
    top: 20px;
    right: 20px;
    width: auto;
}

.hovered-event-popup {
    z-index: 10;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.event-title {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.event-title:hover {
    text-decoration: underline;
}